<p id="notice"><%= notice %></p>

<h1>WEB履歴書希望条件編集</h1>

<%= form_for(@user, url: update_require_resume_profile_path) do |f| %>

    <div class="select">
      <%= f.label '第一希望職種' %><br/>
      <%= f.select :require_first_occupation, Constants::OCCUPATION_TYPES, include_blank: '未選択' %>
    </div>

    <div class="select">
      <%= f.label '第二希望職種' %><br/>
      <%= f.select :require_second_occupation, Constants::OCCUPATION_TYPES, include_blank: '未選択' %>
    </div>

    <div class="select">
      <%= f.label '希望勤務地' %><br/>
      <%= f.select :require_location, Constants::SEARCH_AREAS, include_blank: '未選択' %>
    </div>

    <div class="select">
      <%= f.label '希望雇用形態' %><br/>
      <%= f.select :require_employment_type, Constants::EMPLOYMENT_TYPES, include_blank: '未選択' %>
    </div>

    <div class="field">
      <%= f.label '希望年収' %><br/>
      <%=	f.text_area :require_low_income, autocomplete: "off" %> ~ <%=	f.text_area :require_high_income, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit '更新' %>
    </div>
<% end %>