<p id="notice"><%= notice %></p>

<h1>マイページ</h1>

<% if user_signed_in? %>
  <div>
    <h2><%= current_user.last_name %> <%= current_user.first_name %>さんのプロフィール</h2>
    <%= image_tag 'profile', :size => '250x200', :class => "recruit_image" %>
    <div class="recruit_content">
      <p>メールアドレス: <%= current_user.email %></p>
      <p>名前（カナ）: <%= current_user.last_name_kana %> <%= current_user.first_name_kana %></p>
      <p>名前（漢字 : <%= current_user.last_name %> <%= current_user.first_name %></p>
      <p>性別 :
        <% if current_user.sex == 1 %>
          男性
        <% else%>
          女性
        <% end %>
      </p>
      <p>誕生日 : <% current_user.birthday %></p>
      <p>固定電話番号 : <%= current_user.phone_number %></p>
      <p>携帯電話番号: <%= current_user.cell_phone_number %></p>
      <p>障がい部位 : <%= current_user.first_handicapped_part %></p>
      <p>障がい等級 : <%= current_user.first_handicapped_level %></p>
      <%= link_to 'お気に入り一覧', recruit_path(recruit) %>
    </div>
  </div>
<% else %>
  <div>
    <p>ログインせんか</p>
  </div>
<% end %>