<p id="notice"><%= notice %></p>

<h1>募集一覧</h1>

<div>
  <div>検索</div>
  <br>
  <%= search_form_for @q do |f| %>
      <%= f.select :location_cont, Constants::SEARCH_AREAS, include_blank: "こだわらない" %>
      <%= f.select :employment_type_cont, Constants::EMPLOYMENT_TYPES, include_blank: "こだわらない" %>
      <%= f.select :occupation_cont, Constants::OCCUPATION_TYPES, include_blank: "こだわらない" %>
      <%= f.text_field :location_or_employment_type_or_occupation_or_company_name_or_description_cont %>
      <%= f.submit %>
  <% end %>
</div>

<table>
  <tbody>
  <%= render @recruits %>
  </tbody>
  <%= paginate(@recruits) %>
</table>
