<p id="notice"><%= notice %></p>

<h1>募集一覧</h1>

<table>
  <tbody>
    <% @recruits.each do |recruit| %>
      <tr>
        <th>
          <h1><%= recruit.company.name  %></h1>
          <%= image_tag 'sample_office', :size => '250x200', :class => "recruit_image" %>
          <div class="recruit_content">
            <p>職種: <%= recruit.occupation %></p>
            <p>雇用形態: <%= recruit.employment_type %></p>
            <p>仕事内容: <%= recruit.job_summary %></p>
            <p>給与・待遇: <%= recruit.salary %></p>
            <p>勤務地: <%= recruit.location %></p>
          </div>
          <%= link_to '詳細を見る', recruit_path(recruit) %>
          <% if recruit.isFavorite == true %>
              <%= button_to 'お気に入りから削除', recruit_favorites_path( { recruit_id: recruit.id, user_id: current_user.id, }) %>
          <% else %>
              <%= button_to 'お気に入りに追加', recruit_favorites_path( { recruit_id: recruit.id, user_id: current_user.id, }) %>
          <% end %>
          <%= link_to '応募', recruit_path(recruit) %>
        </th>
      </tr>
    <% end %>
  </tbody>
  <%= paginate(@recruits) %>
</table>
